# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
env
# Editor directories and files
.vscode/*
!.vscode/extensions.json
client_secret_586641194781-mg3h0l7je43tuqsb42eqissn8654oqfp.apps.googleusercontent.com.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
client_secret_844090305507-ddu676samglpsr07dv9qqn65n77rvbgo.apps.googleusercontent.com.json
